# Node
node_modules/

# Environment files
.env
.env.*

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/

# Build files
dist/
build/

# Coverage
coverage/

# Temporary files
tmp/
temp/

# Cache
.cache/